# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Sensitive files
*.tfvars
*.tfvars.json


# OS files
.DS_Store

.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup