apiVersion: v1
kind: ConfigMap
metadata:
  name: eks-config
data:
  LOG_LEVEL: info
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: eks-nginx
  labels:
    app: nginx
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.27-alpine

          env:
            - name: LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: eks-config
                  key: LOG_LEVEL

          volumeMounts:
            - name: config-volume
              mountPath: /mnt/config
              readOnly: true

          ports:
            - containerPort: 80

          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"

          startupProbe:
            httpGet:
              path: /
              port: 80
            failureThreshold: 10
            periodSeconds: 5

          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 15

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 20
            periodSeconds: 25

      volumes:
        - name: config-volume
          configMap:
            name: eks-config
---
apiVersion: v1
kind: Pod
metadata:
  name: api-pod
  labels:
    app: nginx
spec:
  containers:
    - name: api-pod
      image: nginx:1.27-alpine

      env:
        - name: LOG_LEVEL
          valueFrom:
            configMapKeyRef:
              name: eks-config
              key: LOG_LEVEL

      volumeMounts:
        - name: config-volume
          mountPath: /etc/app-config

      ports:
        - containerPort: 80

      resources:
        requests:
          cpu: "128m"
          memory: "256Mi"
        limits:
          cpu: "500m"
          memory: "512Mi"

      readinessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 10
        periodSeconds: 5

      livenessProbe:
        httpGet:
          path: /
          port: 80
        initialDelaySeconds: 15
        periodSeconds: 10

  volumes:
    - name: config-volume
      configMap:
        name: eks-config
